.container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2em;
  padding-top: 8em;
}

#contact {
  margin: 0;
  padding-bottom: 0.5em;
  color: rgb(109, 109, 109);
}

.email {
  margin-bottom: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #ffffff;
  height: 28em;
  width: 52em;
  border-radius: 1%;
}

.form-group {
  display: flex;
}

.message {
  padding-top: 1em;
  padding-bottom: 0.5em;
}

.message-form {
  width: 39em;
  border-radius: 2%;
  font-family: "Raleway", sans-serif;
  border: 2px solid rgb(126, 126, 126);
}

.email-container {
  padding-left: 2em;
}

.form-control {
  margin-top: 1em;
  height: 3em;
  width: 18em;
  border-radius: 5%;
  border: 2px solid rgb(126, 126, 126);
}

input::placeholder {
  padding-left: 0.3em;
}

textarea::placeholder {
  padding-left: 0.3em;
  padding-top: 0.3em;
}

.submit-button {
  width: 100%;
}

@media screen and (max-width: 425px) {
  #contact {
    font-size: 2.3em;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .email-container {
    padding-left: 0;
  }

  .message-form {
    width: 20em;
    border-radius: 2%;
    font-family: "Raleway", sans-serif;
    border: 2px solid rgb(126, 126, 126);
  }

  .form-control {
    width: 20em;
  }

  .email {
    padding-left: 3.9em;
    margin-bottom: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #ffffff;
    height: 30em;
    width: 105%;
    border-radius: 1%;
  }
}

@media screen and (min-width: 425px) and (max-width: 449px) {
  #contact {
    font-size: 2.3em;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .email-container {
    padding-left: 0;
  }

  .message-form {
    width: 30em;
    border-radius: 2%;
    font-family: "Raleway", sans-serif;
    border: 2px solid rgb(126, 126, 126);
  }

  .form-control {
    width: 30em;
  }

  .email {
    padding-left: 2em;
    margin-bottom: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #ffffff;
    height: 28em;
    width: 105%;
    border-radius: 1%;
  }
}

@media screen and (min-width: 450px) and (max-width: 499px) {
  #contact {
    font-size: 2.3em;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .email-container {
    padding-left: 0;
  }

  .message-form {
    width: 30em;
    border-radius: 2%;
    font-family: "Raleway", sans-serif;
    border: 2px solid rgb(126, 126, 126);
  }

  .form-control {
    width: 30em;
  }

  .email {
    padding-left: 1.8em;

    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    height: 28em;
    width: 32em;
    border-radius: 1%;
  }
}

@media screen and (min-width: 500px) and (max-width: 900px) {
  #contact {
    font-size: 2.3em;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .email-container {
    padding-left: 0;
  }

  .message-form {
    width: 30em;
    border-radius: 2%;
    font-family: "Raleway", sans-serif;
    border: 2px solid rgb(126, 126, 126);
  }

  .form-control {
    width: 30em;
  }

  .email {
    margin-bottom: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #ffffff;
    height: 28em;
    width: 95%;
    border-radius: 1%;
  }
}
